.container {
  display: grid;
  grid-template-areas:
  /* 注意，这里的引号之间没有逗号 */
    "header header header"
    "aside main ad"
    "footer footer footer";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container > * {
  border: 1px solid blue;
}

header {
  /* 注意这里不需要引号 */
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
  grid-column-start: 2;
  grid-column-end: 4;
}

.ad {
  grid-area: ad;
}

footer {
  grid-area: footer;
}
