* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  border: 1px solid burlywood;
  position: relative;
  height: 300px;
  width: 300px;
  transition: all 0.5s;
}
.left {
  border: 11px solid green;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: rotate(45deg);
  /* transform: translate(-87%, -86%); */
  /* border-radius: 50%; */
  background-color: red;
}
.right {
  border: 1px solid green;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: rotate(45deg);
  transform: translateY(-100px);
  /* transform: translate(-11%, -86%); */
  border-radius: 50%;
  background-color: red;
}
.bottom {
  position: absolute;
  border: 1px solid red;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: red;
}
.box:hover {
  transform: scale(1.5);
}
