* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  display: inline-block;
  margin: 100px;
  position: relative;
  animation: heart 1s linear infinite alternate;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}
.left {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: rotate(45deg);
  transform: translate(-87%, -86%);
  border-radius: 50%;
  background-color: red;
}
.right {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-13%, -86%);
  border-radius: 50%;
  background-color: red;
}
.bottom {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: red;
}
